# bootstrap files
recursive-include lib/python/treadmill/bootstrap/master/linux *
recursive-include lib/python/treadmill/bootstrap/node/linux *
recursive-include lib/python/treadmill/bootstrap/node/windows *
recursive-include lib/python/treadmill/bootstrap/openldap/linux *
recursive-include lib/python/treadmill/bootstrap/spawn/linux *
recursive-include lib/python/treadmill/bootstrap/zookeeper/linux *
# Treadmill resources
recursive-include lib/python/treadmill/etc/ldap *
recursive-include lib/python/treadmill/etc/schema *
recursive-include lib/python/treadmill/etc/kernel_watchdog_tests *
recursive-include lib/python/treadmill/logging *.json
recursive-include lib/python/treadmill/templates *
# Treadmill tests data
recursive-include lib/python/treadmill/bootstrap/master/linux/treadmill/data *
recursive-include lib/python/treadmill/tests/runtime/linux/image/data *
recursive-include lib/python/treadmill/tests/data *
