click>=6
dateutils==0.6.6
decorator>=4.0
dnspython==1.15.0
enum34>=1.1
Flask>=0.10,<0.11
Flask-RESTful>=0.3
flask-restplus>=0.9
iscpy>=1.5,<2
Jinja2>=2,<2.9
jsonschema==2.5.1
kafka-python>=1.3,<2
kazoo>=2.2,<3
ldap3>=1.4.0,<2
netifaces>=0.10,<0.11
Numpy>=1.11,<2
pandas>=0.3,<1
prettytable>=0.7,<1
pykerberos>1.1,<2
PyYAML>=3,<4
requests>=2.11,<3
requests-kerberos>=0.10,<1
simplejson>=3.8,<4
tornado>=4.4,<5
Twisted>=16.4,<17
urllib_kerberos
websocket-client>=0.40.0,<1
ansible==2.2.2.0
boto==2.46.1
