APScheduler>=3.3,<3.4
boto3==1.4.4
boto==2.46.1
click>=6.6
decorator>=4.0
dnspython==1.15.0
docker>=2.6,<3

Flask-RESTful>=0.3,<1
flask-restplus>=0.10,<1
Flask>=0.12,<1
gevent>=1.1
ipaddress>=1.0
Jinja2>=2.9
jsonschema==2.5.1
ldap3>=2.3,<3
netifaces>=0.10,<0.11
Numpy>=1.13,<2
pandas>=0.19,<1
parse>=1.8,<2
polling
prettytable>=0.7,<1
psutil
pykerberos>1.1,<2
pytz>=2017

PyYAML>=3,<4
requests-kerberos>=0.11,<1
requests-unixsocket>=0.1,<1
requests>=2.18,<3
simplejson>=3.8,<4
six>=1.10,<2
tabulate
tornado>=4.4,<5
Twisted>=16.4,<18
websocket-client>=0.40.0,<1

# Until Kazoo SASL patches are upstreamed
kazoo==2.4.0.dev0
