---
awk: /usr/bin/awk
basename: /bin/basename
brctl: /usr/sbin/brctl
cat: /bin/cat
chown: /bin/chown
chmod: /bin/chmod
chroot: /usr/sbin/chroot
conntrack: /usr/sbin/conntrack
cp: /bin/cp
dirname: /usr/bin/dirname
dmesg: /bin/dmesg
echo: /bin/echo
find: /usr/bin/find
date: /bin/date
grep: /bin/grep
gzip: /usr/bin/gzip
ifconfig: /sbin/ifconfig
ionice: /usr/bin/ionice
ip: /sbin/ip
ipset: /usr/sbin/ipset
iptables: /sbin/iptables
iptables_restore: /sbin/iptables-restore
last: /usr/bin/last
ln: /bin/ln
losetup: /sbin/losetup
ls: /bin/ls
lssubsys: /bin/lssubsys
lvm: /sbin/lvm
mkdir: /bin/mkdir
mke2fs: /sbin/mke2fs
mkfifo: /usr/bin/mkfifo
mknod: /bin/mknod
mount: /bin/mount
pvremove: /sbin/pvremove
pwd: /bin/pwd
readlink: /bin/readlink
rm: /bin/rm
route: /sbin/route
sysctl: /sbin/sysctl
tail: /usr/bin/tail
tar: /bin/tar
touch: /bin/touch
tune2fs: /sbin/tune2fs
umount: /bin/umount
unshare: /usr/bin/unshare
vgchange: /sbin/vgchange
vgremove: /sbin/vgremove
sleep: /bin/sleep
sshd: /usr/sbin/sshd

# dnscache, https://cr.yp.to/djbdns/dnscache.html
dnscache: ~

# JAVA_HOME
java_home: ~

# https://kafka.apache.org/
kafka_run_class: ~  # kafka-run-class.sh
kafka_server_start: ~  # kafka-server-start.sh

# kinit, Kerberos distribution
kinit: ~
klist: ~

# https://github.com/elastic/logstash-forwarder
logstash-forwarder: ~

# https://www.isc.org/downloads/bind/
named: /usr/sbin/named

# http://oss.oetiker.ch/rrdtool/
rrdcached: ~  # rrdcached
rrdtool: ~  # rrdtool

# http://skarnet.org/software/s6/
s6-log: /bin/s6-log
s6-svc: /bin/s6-svc
s6-svok: /bin/s6-svok
s6-svscan: /bin/s6-svscan
s6-svscanctl: /bin/s6-svscanctl
s6-svwait: /bin/s6-svwait
s6: /

# Treadmill utilities.
pid1: ~
tkt-recv: ~
tkt-send: ~

# Shared libraries.
#
# ld_preload libs use $LIB notation, and in the code should be resolved with
# check=False.
treadmill_bind_preload.so: ~
