[Unit]
Description=Treadmill zookeeper to filesystem
After=network.target

[Service]
User=root
Group=root
SyslogIdentifier=treadmill
ExecStart=/opt/s6/bin/s6-envdir /var/tmp/treadmill-master/treadmill/env \
  /opt/treadmill/bin/treadmill sproc zk2fs --root /var/tmp/zk2fs \
  --appgroups --endpoints --servers
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
