[Unit]
Description=Zookeeper distributed coordination server
After=network.target

[Service]
Type=forking
User=treadmld
Group=treadmld
SyslogIdentifier=zookeeper
Environment=ZOO_LOG_DIR=/var/lib/zookeeper
ExecStart=/usr/lib/zookeeper/bin/zkServer.sh start
ExecStop=/usr/lib/zookeeper/bin/zkServer.sh stop

[Install]
WantedBy=multi-user.target
